<div class="jumbotron jumbotron-fluid">
  <class class="container">
    <h1 class="header">Time Summary</h1>
    <h2 class="subheader" id="dept">{{this.dept}}</h2>
    <h2 class="subheader" id="employeeName">{{this.employeeName}}</h2>
    <h2 class="hidden" id="hidden-employeeId">{{this.user}}</h2>
</div>
<div class="table-container">
  <table class="table table-striped">
    <thead>
      {{#if this.employeeName.length}}
      {{> user}}
      {{else}}
      {{> mgr}}
      {{/if}}
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">
      View API Data <a href="./api/employees"> Employee List </a> // <a href="./api/timesheets/limit=50/eng"> Engineer </a> // <a href="./api/timesheets/limit=50/pm">Project
        Manager</a> // <a href="./api/timesheets/limit=50/mfg"> Manufacturing </a>
    </span>
  </div>
</footer>

{{#if this.employeeName.length}}
<!-- Custom Script -->
<script src="assets/js/user.js" type="text/javascript"></script>
{{else}}
<!-- Custom Script -->
<script src="assets/js/dept.js" type="text/javascript"></script>
{{/if}}