<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="header">Timesheet App</h1>
    <h2 class="subheader">Manage Employee Time</h2>
  </div>
</div>

<!-- Pass in data from server.js for specific employee and would like to include function to call last ten entries for user inputs and display-->
<ul id = "employeeID">
  {{#each employees}}
  <li>
    <p><span class="label">ID:</span> {{this.id}}</p>
    <p><span class="label">Employee:</span> {{this.name}}</p>
    <p><span class="label">Dept:</span> {{this.dept}}</p>

    <button data-id="{{this.id}}" class="btn">Delete</button>

    <a href="/{{this.id}}"class="btn"> Update</a>
  </li>
  {{/each}}
</ul>

<h3>Add Employee</h3>

<form class="employeeEntry-form">

  <div class="container">
    <label for="auth">Employee:</label>
    <input type="text" id="auth" name="name">
  </div>

  <div class="container">
    <label for="auth">Department:</label>
    <input type="text" id="auth" name="dept">
  </div>

  <button type="submit" class="indexbtn" >Add Entry</button>
</form>


<h3>Add Time</h3>

<form class="create-form">

{{!-- {{Most likely will be a drop down select option}} --}}
  <div class="container">
    <label for="auth">Employee:</label>
    <input type="text" id="auth" name="employee">
  </div>

{{!-- {{Would like Moment.js to handle time options or I found https://bootstrap-datepicker.readthedocs.io/en/latest/}} --}}
  <div class="container">
    <label for="auth">Date:</label>
    <input type="date" id="date" name="date">
  </div>

{{!-- {{Most likely will be a drop down select option}} --}}
  <div class="container">
    <label>Type:</label>
    <input type="text" id="emp" name="employee">
    <br>
    <br>
    <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">Time:</label>
    </div>
    <select class="custom-select" id="inputGroupSelect01">
      <option selected>Choose...</option>
      <option value="1">30</option>
      <option value="2">60</option>
      <option value="3">90</option>
      <option value="4">120</option>
      <option value="5">150</option>
      <option value="6">180</option>
      <option value="7">210</option>
      <option value="8">240</option>
      <option value="9">270</option>
      <option value="10">300</option>
    </select>
  </div>

  </div>
<br>

  <div class="container">
    <label for="quo">Notes:</label>
    <textarea id="notes" rows="4" cols="50"></textarea>
  </div>

  <button type="submit" class="indexbtn">Add Entry</button>
</form>
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class= "text-muted">
      View As <a href="./admin"> Admin </a> // <a href ="./eng"> Engineer </a> // <a href = "./pm">Project Manager</a> // <a href="./mfg"> Manufacturing </a>
    </span>
  </div>
</footer>